<h1>Current heroes:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
		<th>ID</th> 
        <th>Name</th> 
		<th>Playbook</th>
    </thead> 
    <tbody> 
        {{#each heroes}} 
        <tr> 
			<th>{{Char_ID}}</th> 
            <td>{{hero_name}}</td> 
			<td>{{playbook}}</td>
			<td><button onclick="deleteH({{Char_ID}})">Delete</button></td>
			<td><a href="/heroes/{{Char_ID}}">See/Update</a></td>
        </tr> 
        {{/each}} 
    </tbody>
	<form id="addhero" action="/heroes" method="post">
    Hero name: <input type="text" name="hero_name"><br>
    Real name: <input type="text" name="real_name"><br>
    Playbook: <select name="playbook"> 
        {{#each playbooks}}
        <option value="{{PB_ID}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</table> 
