<h1>Current heroes:</h1>
<table>
    <thead> 
        <th>Name</th> 
		<th>Playbook</th>
		<th>Campaign</th>
    </thead> 
    <tbody> 
        {{#each heroes}} 
        <tr> 
            <td>{{hero_name}}</td> 
			<td>{{playbook}}</td>
			<td><a href="/camp/{{Camp_ID}}">{{camp}}</a></td>
			<td><button onclick="deleteH({{Char_ID}})">Delete</button></td>
			<td><a href="/heroes/{{Char_ID}}">See/Update</a></td>
        </tr> 
        {{/each}} 
    </tbody>
	<form id="addhero" action="/heroes" method="post">
    Hero name: <input type="text" name="hero_name"><br>
    Real name: <input type="text" name="real_name"><br>
    Playbook: <select name="playbook"> 
        {{#each playbooks}}
			<option value="{{PB_ID}}">{{name}}</option>
        {{/each}}
    </select><br>
	Campaign: <select name="campaign"> 
        {{#each camps}}
			<option value="{{Camp_ID}}">{{name}}</option>
        {{/each}}
    </select><a href="/camp/">Add campaign</a><br>
    <input type="submit" value="Submit">
    </form>
</table> 
