<h1>{{hero.hero_name}}:</h1>
<form id="update-hero" action="/heroes" method="post">
    Hero name: {{hero.hero_name}}<br>
    Real name: {{hero.real_name}}<br>
	Playbook: {{hero.playbook}}<br>
	Danger: <input type="number" min="-2" max="3" value="{{hero.Danger}}" name="danger" id ="danger">​<br>
	Freak: <input type="number" min="-2" max="3" value="{{hero.Freak}}" name="freak" id ="freak">​<br>
	Savior: <input type="number" min="-2" max="3" value="{{hero.Savior}}" name="savior" id ="savior">​<br>
	Superior: <input type="number" min="-2" max="3" value="{{hero.Superior}}" name="superior" id ="Superior">​<br>
	Mundane: <input type="number" min="-2" max="3" value="{{hero.Mundane}}" name="mundane" id ="mundane">​<br>
	Potential: <input type="number" min="0" max="5" value="{{hero.Potential}}" name="potential" id ="potential">​<br>
	Influence Over: {{#each inflon}}
        {{hero_name}}<br>
        {{/each}}<br>
	Influence By: {{#each inflby}}
        {{hero_name}}
        {{/each}}<br>
	Conditions: <br>
		{{#each con}}
        {{name}}: -2 to {{rolls}}<br>
        {{/each}}<br>
</form>
