<h1>{{hero.hero_name}}:</h1>
<form id="update-hero" action="/heroes" method="post">
    Hero name: <input type="text" name="hero_name" value="{{hero.hero_name}}"><br>
    Real name: <input type="text" name="real_name" value="{{hero.real_name}}"><br>
	Playbook: <select name="playbook" id="playbook-selector"> 
        {{#each playbooks}}
			<option value="{{PB_ID}}">{{name}}</option>
        {{/each}}
	​</select><br>
	Danger: <input type="number" min="-2" max="3" value="{{hero.Danger}}" name="danger" id ="danger">​<br>
	Freak: <input type="number" min="-2" max="3" value="{{hero.Freak}}" name="freak" id ="freak">​<br>
	Savior: <input type="number" min="-2" max="3" value="{{hero.Savior}}" name="savior" id ="savior">​<br>
	Superior: <input type="number" min="-2" max="3" value="{{hero.Superior}}" name="superior" id ="Superior">​<br>
	Mundane: <input type="number" min="-2" max="3" value="{{hero.Mundane}}" name="mundane" id ="mundane">​<br>
	Potential: <input type="number" min="0" max="5" value="{{hero.Potential}}" name="potential" id ="potential">​<br>
	Influence Over: <br>
		{{#each heroes}}
			<input id="Char{{Char_ID}}" name = "Char[{{Char_ID}}]" type="checkbox"  value="1"> <label>{{hero_name}}</label><br>
			<input type="hidden" name="Char[{{Char_ID}}]" value="0">
        {{/each}}<br>
	Influence By:<br>
		{{#each inflby}}
			{{hero_name}}<br>
        {{/each}}<br>
	Conditions: <br>
		{{#each cons}}
			<input id="Con{{Con_id}}" name="Con{{Con_id}}" type="checkbox"> <label for="{{name}}">{{name}}: -2 to {{rolls}}</label><br>
        {{/each}}<br>

</form>
<button onclick="updateHero({{hero.Char_ID}})"> Save </button>
<button onclick = "cancel()"> Cancel </button>
<script defer>selectPlaybook({{hero.PB_ID}});
{{#each conHero}}
	setCon({{Con_id}});
{{/each}}
{{#each inflon}}
	setInfl({{Char_ID}});
{{/each}}
</script>
