<h1>{{hero.hero_name}}:</h1>
<form id="update-hero" action="/heroes" method="post">
    Hero name: <input type="text" name="hero_name" value="{{hero.hero_name}}"><br>
    Real name: <input type="text" name="real_name" value="{{hero.real_name}}"><br>
	Playbook: <select name="playbook" id="playbook-selector"> 
        {{#each playbooks}}
			<option value="{{PB_ID}}">{{name}}</option>
        {{/each}}
	​</select><br>
	Danger: <input type="number" min="-2" max="3" value="{{hero.Danger}}" name="danger" id ="danger">​<br>
	Freak: <input type="number" min="-2" max="3" value="{{hero.Freak}}" name="freak" id ="freak">​<br>
	Savior: <input type="number" min="-2" max="3" value="{{hero.Savior}}" name="savior" id ="savior">​<br>
	Superior: <input type="number" min="-2" max="3" value="{{hero.Superior}}" name="superior" id ="Superior">​<br>
	Mundane: <input type="number" min="-2" max="3" value="{{hero.Mundane}}" name="mundane" id ="mundane">​<br>
	Potential: <input type="number" min="0" max="5" value="{{hero.Potential}}" name="potential" id ="potential">​<br>
	Influence Over: <br>
		<select name="influon" size="3">
		{{#each inflon}}
			<option value="{{Char_ID}}">{{hero_name}}</option>
        {{/each}}</select> 
		<a href="/influence/{{hero.Char_ID}}">Update</a><br>
	Influence By:<br>
		<select name="influby" size="3">
		{{#each inflby}}
			<option value="{{Char_ID}}">{{hero_name}}</option>
        {{/each}}</select><br>
	Conditions: <br>
		{{#each con}}
        {{name}}: -2 to {{rolls}}<br>
        {{/each}}<br>

</form>
<button onclick="updateHero({{hero.Char_ID}})"> Save </button>
<button onclick = "cancel()"> Cancel </button>
<script defer>selectPlaybook({{hero.PB_ID}})</script>
